<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Edit Settings</h2>
    </div>
    <div class="col-sm-12">
      <form class="form" name="settingsform" ng-submit="vm.updateSettings(form)" novalidate>

        <div class="form-group">
          <label>Are you an owner?</label>
          <bs-switch
              ng-model="vm.settings.owner"
              type="checkbox"
              switch-label=""
              switch-icon=""
              switch-on-text="Owner"
              switch-off-text="Sitter Only"
              switch-on-color="primary"
              switch-off-color="info"
              switch-label-width="60px"
              switch-handle-width="60px"
              ng-true-value="'{{dash.userMode.care.name}}'"
              ng-false-value="'{{dash.userMode.need.name}}'"
              mongoose-error>
          <p class="help-block" ng-show="settingsform.searchradius.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Default Search Radius</label>
          <input type="text" name="searchradius" class="form-control" ng-model="vm.settings.searchradius"
                 mongoose-error/>
          <p class="help-block" ng-show="settingsform.searchradius.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Available now</label>
          <input type="text" name="now" class="form-control" ng-model="vm.settings.now"
                 mongoose-error/>
          <p class="help-block" ng-show="settingsform.now.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Calendar publicly viewable</label>
          <input type="text" name="calendar" class="form-control" ng-model="vm.settings.calendar"
                 mongoose-error/>
          <p class="help-block" ng-show="settingsform.calendar.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Account active</label>
          <input type="text" name="accstatus" class="form-control" ng-model="vm.settings.accstatus"
                 mongoose-error/>
          <p class="help-block" ng-show="settingsform.accstatus.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Save Settings</button>
      </form>
    </div>
  </div>
</div>
