schedule {
  padding-top: 5%;

  .dog-schedule {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .bookingjs {
    background-color: rgba(0, 0, 0, 0.3);

    .fc-toolbar {
      background-color: rgba(0, 0, 0, 0.3);

      .fc-today-button {
        color: white;
      }

      .fc-button {
        color: white;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .fc-view-container {
      background-color: rgba(0, 0, 0, 0.3);
      color: #333;

      .fc-day-number {
        color: white;
      }

      .fc-event {
        background-color: rgba(254, 255, 255, 0.9);
      }

      .fc-event:hover {
        background-color: rgba(24, 238, 238, 0.67);
        color: rgb(201, 68, 68);
      }
    }

    .fc-unthemed .fc-today {
       background-color: rgba(0, 0, 0, 0.3);
    }

    .bookingjs-timezonehelper {
      color: #aeaeae;
      text-align: center;
      padding: 7px 10px;
      background-color: rgba(0, 0, 0, 0.3);
      border-top: 1px solid #ececec;
      min-height: 15px;
      z-index: 20;
      border-radius: 0 0 4px 4px;
    }

    .bookingjs-displayname {
      top: 44px;
      padding: 0 20px;
      color: white;
    }
  }
}
