<nav id="topNav" class="navbar navbar-default navbar-fixed-top" ng-class="{true:'affix-top', false:'affix'}[nav.boolChangeClass]" ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand page-scroll">BARKnB</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="newdog">Add Dog</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="requests({id: nav.userInfo._id})">Requests</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="profile">{{ nav.getCurrentUser().name }} <span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
