.list-scroll {
  overflow-y: scroll;
}

.split-5050 {
  min-height: 45%;
}

.shrink-top-margin {
  margin-top: 10px;
}

.panel-request {
  background-color: rgba(0, 0, 0, 0.3);

  h4 {
    color: #fff;
  }

  .panel-heading {
    color: #31708f;
    background-color: rgba(42, 213, 79, 0.05);
    border-color: rgba(42, 213, 79, 0.30);
  }
}

.flex-request-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.flex-col-right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
