<div class="container flex-profile flex-page fixed-view">
  <div class="flex-container split-5050">
    <div class="page-header shrink-top-margin">
      <h1>Requests for my doggies</h1>
    </div>
    <div class="flex-container list-scroll">
      <div class="panel panel-request" ng-show="re.noRequests">
        <div class="panel-body">
          {{re.noRequests}}
        </div>
      </div>
      <div class="panel panel-request" loading>
        <div class="panel-body">
          Requests are loading
        </div>
      </div>
      <div class="panel panel-request" ng-repeat="request in re.requests">
        <div class="panel-heading flex-request-row">
          <h4>{{request.customers[0].name}}</h4>
          <div class="btn-group">
            <button class="btn" type="button" name="{{action}}" ng-click="re.confirmRequest(action, request.id)" ng-repeat="action in request.possible_actions" ng-class="re.actionType(action)">{{action}}</button>
          </div>
        </div>
        <div class="flex-request-row">
          <div>
            <h4><span class="glyphicon glyphicon-earphone"></span> <a href="mailto:{{request.customers[0].email}}"><small>{{request.customers[0].email}}</small></a></h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> <a href="tel:{{request.customers[0].phone}}"><small>{{request.customers[0].phone}}</small></a></h4>
          </div>
          <div class="flex-col-right">
            <h4>Start: <small>{{request.attributes.event_info.start | date : 'medium'}}</small></h4>
            <h4>End: <small>{{request.attributes.event_info.end | date : 'medium'}}</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container split-5050">
    <div class="page-header shrink-top-margin">
      <h1>Upcoming events for my dogs</h1>
    </div>
    <div class="flex-container list-scroll">
      <div class="panel panel-request" ng-show="re.noEvents">
        <div class="panel-body">
          {{re.noEvents}}
        </div>
      </div>
      <div class="panel panel-request" ng-repeat="event in re.events">
        <div class="panel-heading flex-request-row">
          <h4>{{event.what}}</h4>
        </div>
        <div class="flex-request-row">
          <div>
            <h4>Where: <small>{{event.where}}</small></h4>
            <h4>Description: <small>{{event.description}}</small></h4>
          </div>
          <div class="flex-col-right">
            <h4>Start: <small>{{event.start | date : 'medium'}}</small></h4>
            <h4>End: <small>{{event.end | date : 'medium'}}</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
