.flex-request-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.flex-col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
