
.login {
  width: 50%;

  oauth-buttons > a {
    max-width: 250px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label {
    padding: 2%;
  }

  input {
    width: 65px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  margin: 0 2%;

  .flex-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    padding: 1%;

    .btn-group {
      align-self: center;
      margin: 1%;
    }

    .preview {
      min-height: 464px;
      margin: 0;

      img {
        padding: 2px 5px;
      }
    }

    .dog-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 900px;
      overflow-y: scroll;

      .thumbnail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 47%;
        margin: 1%;

        img {
          margin: 2%;
        }
      }
    }
  }
}
